@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/*=================
   General
=================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: #0c122c;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
}

p {
  color: #dddbff;
  opacity: 0.9;
}

p span {
  color: white;
}

h1 {
  position: absolute;
  right: 5%;
  top: 0%;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

h1 span {
  font-size: 1rem;
  color: #848794;
}

h1::after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right: 15px solid white;
  bottom: 0;
  right: 0%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

/*=================
  Main Container
 =================*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

/*=================
  Files Container
 =================*/
.files-container {
  background-color: #1d2c67;
  padding: 30px 80px 30px 30px;
  border-radius: 10px 50px 10px 10px;
  margin-right: 20px;
}

.files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.file {
  background-color: #0c122c;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

/*=================
  Progress Container
 =================*/
.progress-container {
  background-color: #1d2c67;
  padding: 30px;
  border-radius: 10px;
  -webkit-transform: translatey(17%);
          transform: translatey(17%);
  width: 40%;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #0c122c;
  border-radius: 50px;
  margin: 10px 0;
}

.progress-bar::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(90deg, #ffa399, #ff4d97);
}

.progress-bar::after {
  content: '';
  position: absolute;
  right: 40.5%;
  top: 10%;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: white;
}

.gb-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*=================
  Attribution
 =================*/
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.attribution a {
  color: #3e52a3;
}

/*==============================================================
                                Media
 ===============================================================*/
@media only screen and (max-width: 1024px) {
  h1 {
    right: 32%;
    top: 75%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  h1::after {
    display: none;
  }
  /*=================
   Main Container
  =================*/
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*=================
   Progress Container
  =================*/
  .progress-container {
    width: 75%;
  }
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #0c122c;
    border-radius: 50px;
    margin: 10px 0;
  }
  .progress-bar::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    border-radius: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
    background: linear-gradient(90deg, #ffa399, #ff4d97);
  }
  .progress-bar::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: white;
  }
  .gb-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */